.wrapper{
    width:100%;
    height: 100%;
    position: relative;
  //  min-width: rem(940px)+rem(20px);
   // min-height: 100%;
   overflow: hidden;
}
.container {
    max-width: 940px;
    width: 95%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //min-height: rem(650px);
    position: relative;
}

.maincontent {
    height: 100%;
    min-height: 650px;
    will-change: transform;
    position: relative;
    transition: 1s;
}

.section {
    height: 100vh;
    min-height: rem(650px);
    background-color: rgba($color: #000000, $alpha: 0.31);
    width: 100%;
    //min-height: rem(650px);
    overflow: hidden;
    position: relative;
    display: flex;

}
.order__link {
    min-width:rem(97px);
    padding: rem(10px) rem(17px);
    background-color: $orange;
    color: #fff;
    border-radius: rem(5px);
    text-decoration: none;-
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    transition: .5s;
    text-align: center;
    &:hover {
        background-color: darken($orange, 7%);
    }
}
.order__btn {
    min-width:rem(97px);
    padding: rem(10px) rem(17px);
    background-color: $orange;
    color: #fff;
    border-radius: rem(5px);
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    transition: .5s;
    border: 0;
    &:hover {
        background-color: darken($orange, 7%);
    }
}
.reset__btn {
    min-width:rem(97px);
    padding: rem(10px) rem(17px);
    background-color: transparent;
    color: #fff;
    border-radius: rem(5px);
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    transition: .5s;
    border: 0;
}
.section__title {
    color: $yellow;
    font-family: 'Gagalin';
    font-size: rem(72px);
    font-weight: 300;
    margin-bottom: rem(12px);
   

    &_color {

        &_black {
            color: $dark;            
        }
        &_white{
            color:#fff;
        }
    }
    &_align {
        &_center {
            text-align: center;
        }
       
    }
}
.section__title {
    @include phones {
        font-size: rem(54px);
    }
}
