@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@font-face {
    font-family: 'Lifehack';
    src: url('../fonts/lifehack-medium.woff2') format('woff');
    src: url('../fonts/lifehack-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/gagalin-regular.woff2') format('woff2'),
        url('../fonts/gagalin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}